# Compiler files
cache/
out/
artifacts/
coverage/
node_modules/
coverage.json
typechain-types/
# Ignores development broadcast logs
!/broadcast
/broadcast/*/

# Docs
docs/

# Dotenv file
.env
.DS_Store